 <!--Pie de  página-->
 <section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Navios Restaurant</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              Los mejores mariscos
            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span> contact@example.com</li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> +54 356 945234</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">The Company</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Mapa de sitio</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Legal</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Careers</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Affiliate</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text" href="index">Inicio</a>
            </li>
            <li class="list-inline-item">
              <a href="about">Nosotros</a>
            </li>
            <li class="list-inline-item">
              <a href="blog-single">Blog</a>
            </li>
            <li class="list-inline-item">
              <a href="prperty-grid">Menú</a>
            </li>
            <li class="list-inline-item">
              <a href="reservacion">Reservación</a>
            </li>
            <li class="list-inline-item">
              <a href="contact">Contáctanos</a>
            </li>
          </ul>
        </nav>
        <div class="iconos-sociales">
          <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://m.facebook.com/navioscancun/?locale2=es_LA" target="_blank"><img alt="Sígueme en Facebook" height="35" width="35" 
                  src="https://2.bp.blogspot.com/-28mh2hZK3HE/XCrIxxSCW0I/AAAAAAAAH_M/XniFGT5c2lsaVNgf7UTbPufVmIkBPnWQQCLcBGAs/s1600/facebook.png" 
                  title="Sígueme en Facebook"/></a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
                <a href="URL" target="_blank"><img alt="Sígueme en Facebook" height="35" width="35" 
                src="https://4.bp.blogspot.com/-Ilxti1UuUuI/XCrIy6hBAcI/AAAAAAAAH_k/QV5KbuB9p3QB064J08W2v-YRiuslTZnLgCLcBGAs/s1600/instagram.png" 
                title="Sígueme en Facebook"/></a>
                
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <style>.iconos-sociales img{border-radius:50px;}</style>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">NaviosRestaurant</span> All Rights Reserved.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</footer>
<!--Termina Pie de pagina-->