<app-header></app-header>

  <body>
        <!--/ Intro Single star /-->
        <section class="intro-single">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                  <h1 class="title-single">Contáctanos</h1>
                  <span class="color-text-a">Aut voluptas consequatur unde sed omnis ex placeat quis eos. Aut natus officia corrupti qui autem fugit consectetur quo. Et ipsum eveniet laboriosam voluptas beatae possimus qui ducimus. Et voluptatem deleniti. Voluptatum voluptatibus amet. Et esse sed omnis inventore hic culpa.</span>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Contáctanos
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!--/ Intro Single End /-->

        <!--/ Contact Star /-->
        <section class="contact">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="contact-map box">
                  <div id="map" class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.695151389415!2d-86.78531997395257!3d21.044880376600155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e826269fb7fef%3A0xb94cadc0d8d2b585!2zTmF2w61vcw!5e0!3m2!1ses-419!2smx!4v1552713554362"
                    width="1100" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 section-t8">
                <div class="row">
                  <div class="col-md-7">

                    <!-- formulario -->

                    <form class="form-a contactForm" action=" " method="post" role="form">
                    
                    
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <div class="form-group">
                          <label for="nombre">Ingresa nombre completo</label>
                            <input type="text" name="nombre" id="nombre" class="form-control form-control-lg form-control-a" 
                            placeholder="Tu nombre*" data-rule="minlen:5" data-msg="Ingresa almenos 5 caracteres">
                            <div class="validation" required></div>
                          </div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <div class="form-group">
                          <label for="email">Ingresa tu email</label>
                            <input name="email" type="email" id="email" class="form-control form-control-lg form-control-a" 
                            placeholder="Tu correo*" data-rule="email" data-msg="Please enter a valid email">
                            <div class="validation" required></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                          <label for="asunto">Ingresa el asunto del mensaje</label>
                            <input type="text" name="asunto" id="asunto" class="form-control form-control-lg form-control-a" 
                            placeholder="Asunto*" data-rule="minlen:8" data-msg="Ingresa almenos 8 caracteres">
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea name="mensaje" class="form-control" name="mensaje" id="mensaje" cols="45" rows="8" data-rule="required" data-msg="Po favor escribe algo para nosotros" 
                            placeholder="Mensaje*" required></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                        <button type="submit" class="btn btn-a" value="Agregar">Enviar mensaje</button>
                      </div>
                      </div>
                    </form>

                      <!--Termina formulario  -->
                    </div>
                    <div class="col-md-5 section-md-t3">
                      <div class="icon-box section-b2">
                        <div class="icon-box-icon">
                          <span class="ion-ios-paper-plane"></span>
                        </div>
                        <div class="icon-box-content table-cell">
                          <div class="icon-box-title">
                            <h4 class="icon-title">Dí hola</h4>
                          </div>
                          <div class="icon-box-content">
                            <p class="mb-1">Correo.
                              <span class="color-a">contact@example.com</span>
                            </p>
                            <p class="mb-1">Phone.
                              <span class="color-a">+54 356 945234</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="icon-box section-b2">
                        <div class="icon-box-icon">
                          <span class="ion-ios-pin"></span>
                        </div>
                        <div class="icon-box-content table-cell">
                          <div class="icon-box-title">
                            <h4 class="icon-title">Encuentranos</h4>
                          </div>
                          <div class="icon-box-content">
                            <p class="mb-1">
                              Cancun, Benito Juarez, Quintana Roo  2019,
                              <br> Mexico
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="icon-box">
                        <div class="icon-box-icon">
                          <span class="ion-ios-redo"></span>
                        </div>
                        <div class="icon-box-content table-cell">
                          <div class="icon-box-title">
                            <h4 class="icon-title">Redes Sociales</h4>
                          </div>
                          <div class="iconos-sociales">
                              <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="https://m.facebook.com/navioscancun/?locale2=es_LA" target="_blank"><img alt="Sígueme en Facebook" height="35" width="35" 
                                      src="https://2.bp.blogspot.com/-28mh2hZK3HE/XCrIxxSCW0I/AAAAAAAAH_M/XniFGT5c2lsaVNgf7UTbPufVmIkBPnWQQCLcBGAs/s1600/facebook.png" 
                                      title="Sígueme en Facebook"/></a>
                                </li>
                                <li class="list-inline-item">
                                  <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="URL" target="_blank"><img alt="Sígueme en Facebook" height="35" width="35" 
                                    src="https://4.bp.blogspot.com/-Ilxti1UuUuI/XCrIy6hBAcI/AAAAAAAAH_k/QV5KbuB9p3QB064J08W2v-YRiuslTZnLgCLcBGAs/s1600/instagram.png" 
                                    title="Sígueme en Facebook"/></a>
                                    
                                </li>
                                <li class="list-inline-item">
                                  <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li class="list-inline-item">
                                  <a href="#">
                                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <style>.iconos-sociales img{border-radius:50px;}</style>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--/ Contact End /-->



  <app-footer></app-footer>